<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    </head>
    <body>

        <style>
            body{
                font-family: 'Open Sans', sans-serif;
            }

            *{
                box-sizing: border-box;
            }
            ul, li, p{
                margin: 0;
                padding: 0;
                list-style: none;
            }

            .commited{
                border-bottom: 2px solid red;
            }


            .burndown{
                display: flex;
                align-items: flex-end;
            }

            h2{
                text-align: center;
            }

            .story{
                padding: 10px;
                width: 180px;
                overflow: auto;                
                border-bottom: 1px solid black;
                border-right: 1px solid black;
                display: flex;
                justify-content: center;
                /*align-items: center;*/
                text-align: center;
            }

            .sprint:first-of-type .story{
                border-left: 1px solid black;
            }

            .story:first-of-type{
                border-top: 1px solid black;
            }

            .REV{
                background-color: rgba(0,255,0,.1);
            }
            .XLF{
                background-color: rgba(0,0,255,.1);
            }
            .IBS{
                background-color: rgba(255,0,0,.1);
            } 
            .EZY{
                background-color: rgba(255, 102, 0, .1)
            }   
            .MARRON{
                background-color: rgba(165, 42, 42, .2);
            }   
            .INNOVATION{
                background-color: rgba(255, 192, 203, .5);
            } 


        </style>

        <main ng-controller="myCtrl">
            
            <ul class="burndown">
                <li ng-repeat="sprint in burndown" class="sprint" ng-class="sprint.status" >
                    
                    <ul class="commited">
                        <li ng-repeat="story in sprint.sprint_backlog" ng-class="story.customer" class="story" ng-style="{height: 40 * story.stimation + 'px'}">{{story.title}}</li>
                    </ul>
                    <ul class="not-commited">
                        <li ng-repeat="story in sprint.product_backlog"  ng-class="story.customer" class="story"  ng-style="{height: 40 * story.stimation + 'px'}">{{story.title}}</li>                        
                    </ul>

                    <h2>{{sprint.name}}</h2>
                </li>
            </ul>


        </main>

        <script src="angular.min.js"></script>
        <script src="angular-route.js"></script>


        <script>

            angular.module('myApp',['ngRoute'])


            .controller('myCtrl', function($scope, $routeParams){

            console.log($routeParams)

                $scope.burndown = [
                    {
                        name: 'Sprint 1',
                        status: 'past',
                        sprint_backlog: [
                            {
                                title: 'Documento para SONY',
                                customer: 'EZY',
                                stimation: 1
                            },                             
                            {
                                title: 'Ingesta El Español',
                                customer: 'IBS',
                                stimation: 1
                            },
                            {
                                title: 'Arreglar checkbox de Login',
                                customer: 'IBS',
                                stimation: 1
                            },
                            {
                                title: 'Gran Canaria: Microsite + PDF',
                                customer: 'REV',
                                stimation: 1
                            },
                            {
                                title: 'ByHours Madrid Junio',
                                customer: 'REV',
                                stimation: 1
                            },
                            {
                                title: 'Ingesta Blog IBS',
                                customer: 'IBS',
                                stimation: 1
                            },
                            {
                                title: 'Cookies Política Privacidad',
                                customer: 'MARRON',
                                stimation: 1
                            },
                            {
                                title: 'Métrica "preroll 1s" y "product 10s"',
                                customer: 'MARRON',
                                stimation: 1
                            },    
                            {
                                title: 'Ingesta France 24',
                                customer: 'XLF',
                                stimation: 3
                            },      
                            {
                                title: 'Ingesta Bloomberg',
                                customer: 'IBS',
                                stimation: 1
                            },                                         
                            {
                                title: 'Adaptar estilos base easyJet',
                                customer: 'EZY',
                                stimation: 5
                            }, 
                            {
                                title: 'Métricas: Añadir nuevas y crear dashboard Kibana',
                                customer: 'MARRON',
                                stimation: 3
                            },   
                            {
                                title: 'Filtrar métricas consumo por idioma',
                                customer: 'MARRON',
                                stimation: 1
                            },     
                            {
                                title: 'Feedback Amazon',
                                customer: 'EZY',
                                stimation: 1
                            },                
                            {
                                title: 'EAE Business School: subir campaña y programar envío Leads',
                                customer: 'MARRON',
                                stimation: 1
                            },                                                                                                                                                                                                                                                                                                                                                
                        ],
                        product_backlog: [
                            {
                                title: 'Campaña ADESLAS',
                                customer: 'REV',
                                stimation: 1
                            },
                            {
                                title: 'Chat 1 a 1',
                                customer: 'XLF',
                                stimation: 2
                            },
                            {
                                title: 'Arreglar el Slider',
                                customer: 'MARRON',
                                stimation: 3
                            },
                            {
                                title: 'Android App no se abre en XLF',
                                customer: 'MARRON',
                                stimation: 4
                            },
                            {
                                title: 'Poner la plataforma actual en los idiomas EN, ES, FR, IT, DE',
                                customer: 'EZY',
                                stimation: 4
                            },
                            {
                                title: 'Contenido en 5 idiomas (News & media, TV Shows, Movies)',
                                customer: 'EZY',
                                stimation: 4
                            },                 
                            {
                                title: 'Nuevo filtro idiomas entertainment',
                                customer: 'EZY',
                                stimation: 4
                            },
                            {
                                title: 'En Compañía de Lobos: Microsite + PDF Guía Mallorca',
                                customer: 'REV',
                                stimation: 1
                            },
                            {
                                title: 'LIDL: Microsite 5 idiomas',
                                customer: 'REV',
                                stimation: 1
                            },                
                            {
                                title: 'Sudoku',
                                customer: 'INNOVATION',
                                stimation: 1
                            },    
                            {
                                title: 'Refactor Guías',
                                customer: 'MARRON',
                                stimation: 1
                            },                                                                                                                                            
                        ] 
                    },
                    {
                        name: 'Sprint 2',
                        status: 'past',
                        sprint_backlog: [
                                                                                                                                                                                                                                                                                                                                                                         
                        ],
                        product_backlog: [
                            {
                                title: 'Campaña ADESLAS',
                                customer: 'REV',
                                stimation: 1
                            },
                            {
                                title: 'Chat 1 a 1',
                                customer: 'XLF',
                                stimation: 2
                            },
                            {
                                title: 'Arreglar el Slider',
                                customer: 'MARRON',
                                stimation: 3
                            },
                            {
                                title: 'Android App no se abre en XLF',
                                customer: 'MARRON',
                                stimation: 4
                            },
                            {
                                title: 'Poner la plataforma actual en los idiomas EN, ES, FR, IT, DE',
                                customer: 'EZY',
                                stimation: 4
                            },
                            {
                                title: 'Contenido en 5 idiomas (News & media, TV Shows, Movies)',
                                customer: 'EZY',
                                stimation: 4
                            },                 
                            {
                                title: 'Nuevo filtro idiomas entertainment',
                                customer: 'EZY',
                                stimation: 4
                            },
                            {
                                title: 'En Compañía de Lobos: Microsite + PDF Guía Mallorca',
                                customer: 'REV',
                                stimation: 1
                            },
                            {
                                title: 'LIDL: Microsite 5 idiomas',
                                customer: 'REV',
                                stimation: 1
                            },                
                            {
                                title: 'Sudoku',
                                customer: 'INNOVATION',
                                stimation: 1
                            },    
                            {
                                title: 'Refactor Guías',
                                customer: 'MARRON',
                                stimation: 1
                            },    
                                                                                                                                                                    
                        ] 
                    },                                                
                ];

            })

           
        </script>
    </body>
</html>