<!doctype html>
<html ng-app="puzzleApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <style>

            .puzzle{
                width: 600px;                
                height: 600px;
                position: relative;
                margin: 0 auto;
            }

            .puzzle img{
                display: block;
                position: absolute;
                user-drag: none; 
                user-select: none;
                -moz-user-select: none;
                -webkit-user-drag: none;
                -webkit-user-select: none;
                -ms-user-select: none;                
            }

        </style>

        <div class="puzzle" ng-controller="puzzleCtrl">
            <img ng-src="{{ 'puzzle' + id + '.jpg' }}" 
                 ng-repeat="id in puzzle |filter:'!0'" 
                 ng-style="{left: getLeft(id), top: getTop(id)}" 
                 hm-swipe-right="moveRight(id)"
                 hm-swipe-left="moveLeft(id)"
                 hm-swipe-up="moveUp(id)",
                 hm-swipe-down="moveDown(id)">
        </div>

        <script src="hammer.min.js"></script>
        <script src="angular.min.js"></script>
        <script src="gestures.min.js"></script>

        <script>

            angular.module('puzzleApp',['angular-gestures'])

            .config(function(hammerDefaultOptsProvider){

                hammerDefaultOptsProvider.set({recognizers: [[Hammer.Swipe, {time: 250}]] });

            })

            .controller('puzzleCtrl', function($scope){

                $scope.puzzle = [1,2,3,4,5,6,7,8,0];

                var positions = {
                    0: {left:0, top: 0},
                    1: {left:200, top: 0},
                    2: {left:400, top: 0},
                    3: {left:0, top: 200},
                    4: {left:200, top: 200},
                    5: {left:400, top: 200},
                    6: {left:0, top: 400},
                    7: {left:200, top: 400},
                    8: {left:400, top: 400}
                }

                $scope.getLeft = function(id){
                    return positions[$scope.puzzle.indexOf(id)].left + "px";
                }

                $scope.getTop = function(id){
                    return positions[$scope.puzzle.indexOf(id)].top + "px";
                }      

                $scope.moveRight = function(id){
                    var current_position = $scope.puzzle.indexOf(id)
                    move(current_position, current_position + 1)
                }  

                $scope.moveLeft = function(id){
                    var current_position = $scope.puzzle.indexOf(id)
                    move(current_position, current_position - 1)
                }  

                $scope.moveUp = function(id){
                    var current_position = $scope.puzzle.indexOf(id)
                    move(current_position, current_position - 3)
                }  

                $scope.moveDown = function(id){
                    var current_position = $scope.puzzle.indexOf(id)
                    move(current_position, current_position + 3)
                }     

                function move(origin, dest){
                    if(canMove(origin, dest)){
                        $scope.puzzle[dest] = $scope.puzzle[origin];
                        $scope.puzzle[origin] = 0;
                    }
                }                                       

                function canMove(origin, dest){

                    //no puedo salirme del tablero
                    if(dest < 0 || dest > 8){
                        return false;
                    }

                    //las posiciones 2 y 5 no pueden mover hacia la derecha
                    if(origin == 2 && dest == 3 || origin == 5 && dest == 6){
                        return false;
                    }

                    //las posiciones 3 y 6 no pueden mover hacia la izquierda
                    if(origin == 3 && dest == 2 || origin == 6 && dest == 5){
                        return false;
                    }

                    //si el destino no es el hueco, no puedes mover
                    if($scope.puzzle[dest] !== 0){
                        return false;
                    }

                    return true;

                }          

            })

        </script>
    </body>
</html>