<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <style>
        .caroussel{
            display: flex;
        }

        .caroussel.moving{
            transition: .5s margin;
        }

        .visor{
            width:100%;
            overflow: hidden;
            position: relative;
        }

        .my-slide *{
            user-drag: none; 
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;                    
        }

        .my-slide img{
            max-width: 100vw;
            display: block;
        }

        .my-slider nav{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;    
            justify-content: space-between;      
            pointer-events: none;  
        }

        .arrow-previous, .arrow-next{
            height: 100%;
            user-select: none;
            pointer-events: all;
        }

        .arrow-previous svg, 
        .arrow-next svg {
            width: 20px;
            height: 100%;
        }

        .arrow-previous svg{
            margin: 0 20px 0 0;
        }

        .arrow-next svg{
            margin: 0 0 0 20px;
        }        

        .arrow-previous svg{
            transform: rotate(180deg);
        }

        @media(min-width: 420px){

            .my-slide img{
                max-width: 50vw;
                display: block;
            }

            .arrow-next{
                background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
            }

            .arrow-previous{
                background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
            }

            .arrow-previous svg, 
            .arrow-next svg {
                width: 40px;
                margin: 0 40px;
            }  

            .my-slide img{
                margin: 0 5px;
            }                      
        }


        @media(min-width: 1400px){
            .my-slide img{
                max-width: 700px;
            }
        }
        </style>

        <main ng-controller="myCtrl">
            <div my-slider slides="slides" current="current" class="my-slider"></div>
        </main>

        <script src="angular.min.js"></script>


        <script>

            angular.module('myApp',[])


            .controller('myCtrl', function($scope){

                $scope.current = 1;

                $scope.slides = [
                    {
                        id: 1,
                        url: 'http://lorempixel.com/953/770/nature/1',
                        link: 'www.google.es',
                        target: '_blank'
                    },
                    {
                        id: 2,
                        url: 'http://lorempixel.com/953/770/nature/2',
                        link: 'www.google.es',
                        target: '_blank'                        
                    },
                    {
                        id: 3,
                        url: 'http://lorempixel.com/953/770/nature/3',
                        link: 'www.google.es',
                        target: '_blank'                        
                    },
                    {
                        id: 4,
                        url: 'http://lorempixel.com/953/770/nature/4',
                        link: 'www.google.es',
                        target: '_blank'                        
                    },
                    {
                        id: 5,
                        url: 'http://lorempixel.com/953/770/nature/5',
                        link: 'www.google.es',
                        target: '_blank'                        
                    },
                    {
                        id: 6,
                        url: 'http://lorempixel.com/953/770/nature/6',
                        link: 'www.google.es',
                        target: '_blank'
                    }
                ];

            })


            .directive('mySlide', function($window){
                return{
                    scope: {slide:'='},
                    replace: true,
                    restrict: 'E',
                    template: `
                        <div class="my-slide">
                            <a ng-href="{{ slide.link }}" target="{{ slide.target }}">
                                <img ng-src="{{ slide.url }}">
                            </a>
                        </div>
                    `,
                    link: function(scope, element, attrs){

                        function init(){
                            scope.slide.width = element[0].clientWidth
                        }

                        element.find('img').bind('load', function() {
                            scope.$apply(init)
                        });

                        angular.element($window).bind('resize', function(){
                            scope.$apply(init)
                        });                        

                    }
                }
            })

            .directive('mySlider', function($window, $timeout){

                return {
                    scope: {slides:'=', current: '='},
                    replace: true,
                    template: `
                        <div class="visor">
                            <div class="caroussel" ng-style="{'margin-left': getMargin()}">
                                <my-slide slide="s" ng-repeat="s in slides"></my-slide>
                            </div>
                            <nav>
                                <a href ng-click="previous()" class="arrow-previous">
									<svg><use xlink:href="#arrow"></use></svg>
								</a>
                                <a href ng-click="next()" class="arrow-next">
									<svg><use xlink:href="#arrow"></use></svg>
								</a>
                            </nav>      


							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">							
								<symbol id="arrow" viewBox="0 0 25 43">
									<defs>
										<path d="M42.06 85.298l-17.054 16.935c-.29.288-.435.666-.435 1.044s.146.755.436 1.044c.58.578 1.52.578 2.102 0L45.11 86.447c.497-.493.57-1.25.215-1.818-.067-.235-.193-.456-.38-.64L27.11 66.278c-.58-.577-1.522-.577-2.102 0-.29.288-.435.666-.435 1.043 0 .38.146.757.436 1.046L42.06 85.298z" id="b"/>
										<filter x="-16.7%" y="-6.4%" width="133.4%" height="118%" filterUnits="objectBoundingBox" id="a">
										<feOffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1"/>
										<feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
										<feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0" in="shadowBlurOuter1"/>
										</filter>
									</defs>
									<g transform="translate(-22.79 -65)" fill="none" fill-rule="evenodd">
										<use fill="#000" filter="url(#a)" xlink:href="#b"/>
										<use fill="#FFF" xlink:href="#b"/>
									</g>
								</symbol>
							</svg>							                       
                        </div>                       
                    `,
                    link: function(scope, element, attrs){

                        var locked = false;

                        scope.getMargin = function(){
                            
                            var visor_width = element[0].clientWidth                        
                            var slide_to_show = scope.slides[scope.current]
                            var offset = 0

                            for(var i = 0; i < scope.current; i++){
                                offset += scope.slides[i].width;
                            }

                            var previous_slide = scope.slides[scope.current - 1]
                            var margin_left = offset - visor_width / 2 + slide_to_show.width / 2;
                            
                            return margin_left * -1 + 'px';
                            
                        }      

                        scope.next = function(){
                            if(!locked){
                                locked = true;
                                angular.element(element[0].querySelector('.caroussel')).addClass('moving')

                                scope.current++;
                                
                                $timeout(function(){

                                    angular.element(element[0].querySelector('.caroussel')).removeClass('moving')

                                    // //swap array elements
                                    scope.slides.push(scope.slides.shift()); 

                                    scope.current = 1;

                                    locked = false;

                                }, 500)
                            }
                        }

                        scope.previous = function(){
                            if(!locked){
                                locked = true;

                                // //swap array elements
                                scope.slides.unshift(scope.slides.pop());

                                scope.current++

                                $timeout(function(){
                                    angular.element(element[0].querySelector('.caroussel')).addClass('moving');
                                    scope.current = 1; 
                                    $timeout(function(){
                                        angular.element(element[0].querySelector('.caroussel')).removeClass('moving');
                                        locked = false;
                                    }, 500)
                                })
                            }
                        }                       
                    },    
                }

            })

        </script>
    </body>
</html>